

.galeria img{
    margin-bottom: 10px;

}



body{
    background-color: bisque;
}


  .contimg2:hover> img {


    box-shadow: 10px 25px 25px;
 
    opacity: .8;

  }

  

 .galeria div a img{
    height: 250px;
    width: 100%;
   
  } 

  #form{
    width: 500px;
    height: 250px;
  }




 /* .card1{
  background-color: orange;
 } */
 .header{
  background-image: url("../img/bg-02.png") !important;
}

.card-header1{
  background-color: blanchedalmond;
  border-radius: 15px;
height: 50px;
background-image: url(../img/bg-02.png);}



********************

.enlaces a:hover{
  text-decoration: underline double;
}